*~
/bin/
/db/
/dbd/
/include/
/lib/
O.*/
html/
rtf
*.local
data/
*.sw?
.*.sw?
.st_embla*.cmd
check_updates.sh

envPaths
.project
.cproject
.settings

*.config
*.creator
*.creator.user
*.files
*.includes
